<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    @RenderSection("css", false)

</head>
<body style="text-align:center">
    <header>
        <partial name="_TimeBox" model="DateTime.Now" />
        <nav>
            <a asp-controller="Employee" asp-action="Index">Home</a>&emsp;
            <a asp-controller="Employee" asp-action="Create">Create employee</a>
        </nav>
        <h1>@ViewBag.Heading</h1>
    </header>

    <div>
        @RenderBody()
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>

    @RenderSection("scripts", false)
    <footer style="text-align: center">
        <partial name="_TimeBox" model="DateTime.Now" />
        &copy; Grupp 3
    </footer>
</body>
</html>
