@model MemoriesProject.Models.ViewModels.MemoryIndexVM[]

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Minnen</title>
</head>
<body>
    <h1>Mina minnen</h1> @** Ska vara dynamiskt, ev en egen klass MemoryHolder eller Person
        alt. bara en statisk sträng MemoryHolder på klassen MemoryIndexVM*@
    <table>
        <tr>
            <th>Vems minne</th>
            <th>Minnet berör</th>
            <th>Minnets titel</th>
            <th>Datum</th>
            <th>Tidpunkt i ord</th>
            <th>Beskrivning</th>

        </tr>
        @foreach (var memory in Model)
        {
            <tr>
                <td>@memory.MemoryHolder</td>
                <td>@memory.PeopleInMemory</td>
                <td>@memory.MemoryTitle</td>
                <td>@memory.When</td>
                <td>@memory.WhenInWords</td>
                <td>@memory.Description</td>
                <td>@DateTime.Now</td>
            </tr>
        }
    </table>
</body>
</html>
